/* regole generali */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.wrapper {
    height: 100vh;
}

.centered-wide {
    padding: 65px 20% 10px;
}

.centered-narrow {
    padding: 65px 25% 10px;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    border-bottom: solid 1px rgb(199, 193, 193);
}

/* CONTENITORE jumbo + main + footer */
.container {
    height: calc(100% - 60px);
    overflow: auto;
}

    /* JUMBOTRON */
    .jumbo {
        background-color: #b4d0e7;
        min-height: 700px;
    }

        /* blocco testo e img */
        .img-txt {
            display: flex;
        }
        .img-txt .img img {
            max-width: 100%;
        }

            /* parte di testo */
            .jumbo .img-txt .text {
                width: 300px;
            }

            /* immagine */
            .jumbo .img-txt .img {
                width: 700px;
            }

    /* MAIN */

    /* sezione PLANS */
    .col-block {
        display:flex;
    }

    .col .header {
        text-align: center;
        padding: 5px;
    }

    .col .content {
        padding: 10px;
    }


    /* FOOTER */




/* DEBUG */
header div {
    width: 35%;
    border: dotted 1px purple;
}

div, h1, .col {
    border: dotted 1px purple;

}

header, .jumbo, main, footer {
    border: dotted 5px purple;
}

    .img-txt .img {
        background-color: burlywood;
    }

    .col-block {
    border: dotted 3px orange;
        
    }
        .col-block .col {
            width: 300px;
        }
            .col-block .col .content {
                min-height: 500px;
            }

    .col .content {
        min-height: 100px;
    }